<script setup lang="ts">
const item_list = ["lorem-ipsum", "lorem-ipsum", "lorem-ipsum", "lorem-ipsum", "lorem-ipsum", "lorem-ipsum"]
</script>
<template>
    <div class="main">
        <img v-for="item of item_list" :src="/*item + '.webm'*/'/placeholder.jpg'" :alt="item">
    </div>
</template>
<style scoped lang="less">
.main {
    width: 40rem;
    height: 40rem;
    background-color: orange;
    display: flex;
    padding: 2rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

img {
    width: 20%;
    margin: 1%;
    object-fit: cover;
}
</style>