<script setup lang="ts">

import { ref } from 'vue';
import { Tree, TreeStep } from "../tree";

let icon = ref("placeholder.jpg");
let visible_class = ref("")
const props = defineProps({
    this_step: TreeStep,
    tree: Tree,
})


let inside = props?.tree?.tree?.[props.this_step?.id ?? 0] as TreeStep[];

</script>

<template>
    <div class="main" :class="visible_class">
        <div class="item-data" v-on:click="visible_class = (visible_class == '') ? 'hidden' : ''">
            <img :src="icon">
            <p>{{ props.this_step?.count }}<br>{{ props.this_step?.name?.replace('-', ' ') }}</p>
        </div>
        <div class="next-iter">
            <Step v-for="recursive_step of inside" :this_step="recursive_step" :tree="props.tree"></Step>
        </div>
    </div>

</template>
<style lang="less" scoped>
img {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-right: 0.8rem;

}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: min-content;
    width: min-content;
    position: relative;

}

.item-data {
    border-radius: 0.8rem;
    padding: 0.8rem;
    background-color: chocolate;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 13rem;

}

.next-iter {
    margin-left: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

}

span {
    text-wrap: nowrap;
}

.hidden {
    .next-iter {
        display: none;
    }

    .item-data {
        background-color: orange;
    }
}
</style>
