<script setup lang="ts">
import { Tree, TreeStep } from "./tree"
import Step from "./components/step.vue";
import * as Crafting from "./test_crafting.json"
import Select from "./components/select.vue"

let tree = new Tree(Crafting);

const this_step: TreeStep[] = []
for (let tree_step_index in tree.tree["1"]) {
  this_step.push(tree.tree["1"][tree_step_index])
}


console.log(this_step);
</script>

<template>
  <main>
    <Select></Select>
    <div class="tree">
      <Step v-for="recursive_step of this_step" :this_step="recursive_step" :tree="tree"></Step>
    </div>
  </main>
</template>

<style scoped>
main {
  width: 100vw;
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-around
}
</style>
